<phpunit bootstrap="./SugarTestHelper.php" 
    backupGlobals="false"
    backupStaticAttributes="false">
    <testsuite name="All Sugar Tests">
        <directory>./tests/include</directory>
        <directory>./tests/modules</directory>  
        <directory>./tests/ModuleInstall</directory>
        <directory>./tests/service</directory>
        <directory>./tests/tests</directory>
    </testsuite>
</phpunit>
